.transition_box {
  transition: transform 0.5s;
  &.before:first-child {
    transform: translateX(0px);
  }

  &.transformer:first-child {
    transform: translateX(calc(100% + 22%));
  }

  &.before:last-child {
    transform: translateX(0px);
  }

  &.transformer:last-child {
    transform: translateX(calc(-122%));
  }
}
